:root {
    --bg-color: #f0f4f8;
    --card-back: #627d98;
    --card-front: #ffffff;
    --accent: #48bb78;
}





.memory-game {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 900px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    

    perspective: 1000px;
    /* Essential for 3D effect */
    border: #48bb78 solid 2px;

}

